.footer {
    background-color: #131313;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
  }
  
  .footerContent {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    font-weight: 600;
  }
  
  .copyright {
    font-size: 14px;
  }
  
  .ownership {
    font-size: 12px;
  }
  
  /* Responsive styles */
  
  @media screen and (max-width: 768px) {
    .footerContent {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 420px) {
    .footer {
      padding: 6px 0;
    }

    .footerContent {
      flex-direction: row;
    }

    .copyright {
      font-size: 0.5em;
    }
    
    .ownership {
      font-size: 0.5em;
    }
  }