
body {
  margin: 0;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  /* background-image: url('../public/backgroundbody.png');
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: aliceblue;
}